################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Game1/resources/code/shader.fs
/Game1/resources/code/shader.vs
/Game1/resources/code/shader.fs
